.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (max-width: 1227px) {
  .content {
    justify-content: center;
  }

  .header h1 {
    text-align: center;
  }
}

.feed {
  width: 600px;
  max-height: 912px;
  overflow-x: hidden;
}

.feed::-webkit-scrollbar-button:vertical:end:increment {
  height: 52px;
  background-color: #131316;
}

.feedInfo {
  display: flex;
  flex-direction: column;
  min-width: 628px;
}

@media (max-width: 1227px) {
  .feedInfo {
      min-width: 588px;
  }
}

.statusesWrapper {
  display: flex;
}

.statuses {
  width: 280px;
  margin-right: 32px;
}

.statusesColumns {
  display: flex;
  flex-flow: row wrap;
}

.statusesColumn {
  display: flex;
  flex-flow: column wrap;
  margin: 0 32px 32px 0;
}

.done {
  color: #00CCCC;
}