.profile {
    margin-top: 208px;
    display: flex;
}

@media (max-width: 1227px) {
    .profile {
        justify-content: center;
    }
}

.content {
    width: 900px;
}

.navList {
    width: 320px;
}

.navItem {
    display: flex;
    height: 64px;
    align-items: center;
}

.active {
    color: white;
}
